

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: transform 0.3s ease-in-out;
  
    &.show {
      transform: none;
    }
  
    &-backdrop {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1040;
      width: 100vw;
      height: 100vh;
      background-color: #000;
  
      &.fade {
        opacity: 0;
      }
  
      &.show {
        opacity: 0.5;
      }
    }
  
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 1rem 0 1rem;
      .btn-close{
        background: transparent;
        border: 0;
        &:hover {
          cursor: pointer;
          svg path{
            fill: rgb(95, 95, 95);
          }
        }
      }
    }
  
    &-body {
      flex-grow: 1;
      padding: 1rem;
      overflow-y: auto;
    }
  
    &-start {
      top: 0;
      left: 0;
      width: 600px; // Increased width from 400px to 500px
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      transform: translateX(-100%);
    }
  
    &-end {
      top: 0;
      right: 0;
      width: 500px; // Increased width from 400px to 500px
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      transform: translateX(100%);
    }
  
    &-top {
      top: 0;
      right: 0;
      left: 0;
      height: 40vh; // Increased height from 30vh to 40vh
      max-height: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      transform: translateY(-100%);
    }
  
    &-bottom {
      right: 0;
      left: 0;
      height: 40vh; // Increased height from 30vh to 40vh
      max-height: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      transform: translateY(100%);
    }
  }

  .cf7-builder-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    .cf7-builder-row {
      margin-bottom: 15px;
      a{
        text-decoration: none;
      }
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }
  
      input[type="text"],
      select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
      }
  
      select {
        appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
        background-repeat: no-repeat;
        background-position-x: 98%;
        background-position-y: 50%;
        max-width: 100%;
      }
    }
  
    .cf7-button {
      background-color: #0073aa;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #005177;
      }
    }
  }
  .spinner {
    animation: rotate 2s linear infinite;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .spinner .path {
    stroke: #ffffff;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
  
  .notice {
    padding: 10px;
    margin-bottom: 10px;
    border-left: 4px solid #00a0d2;
    background-color: #fff;
  }
  
  .notice-success {
    border-left-color: #46b450;
  }


  .cf7-builder-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .cf7-builder-row {
    margin-bottom: 20px;
  
    label {
      display: block;
      margin-bottom: 5px;
    }
  
    input[type="text"],
    select {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
  
  .layout-options {
  
    h3 {
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 700;
    }
  }
  
  .layout-scroll-box {
    max-height: 195px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 4px;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
  }
  
  .layout-row {
    margin-bottom: 5px;
    width: 47%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .layout-item {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
    height: 175px;
  
    &:hover {
      transform: translateY(-5px);
    }
  
    &.selected {
      border: 2px solid #007bff;
      box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    }
  
    img {
      max-width: 100%;
      height: auto;
      border: 1px solid #eee;
      border-radius: 4px;
      margin-bottom: 10px;
      transition: all 0.3s ease-in-out;
      &:hover{
        scale: 1.05;
      }
    }
    a{
      text-decoration: none;
      span{
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
          margin-right: 4px;
        }
      }
    }
    span {
      font-size: 14px;
      font-weight: bold;
      color: #333;
      margin-top: 8px;
      transform: translateY(-50%);
    }
  }
  
  #cf7-builder-submit {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
  
    &:hover:not(:disabled) {
      background-color: #0056b3;
    }
  
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
  .custom-alert {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  
    .alert-content {
      background-color: white;
      width: 300px;
      padding: 30px;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    .alert-icon {
      width: 60px;
      height: 60px;
      margin: 0 auto 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
  
      &.success {
        background-color: #28a745;
        &::before {
          content: '\2714';
          color: white;
          font-size: 30px;
        }
      }
  
      &.error {
        background-color: #dc3545;
        &::before {
          content: '\2716';
          color: white;
          font-size: 30px;
        }
      }
  
      &.loading {
        border: 5px solid #f3f3f3;
        border-top: 5px solid #3498db;
        animation: spin 1s linear infinite;
      }
    }
  
    h2 {
      margin-bottom: 10px;
      color: #333;
    }
  
    p {
      color: #666;
      margin-bottom: 20px;
    }
  
    #alert-button {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .cf7-builder-sync svg{
    transform: translateY(4px);
  }